In [40]:
import networkx as nx
import matplotlib.pyplot as plt
import seaborn as sns
import time
import numpy as np
from scipy import sparse
import pandas as pd

In [53]:
t =9
r = 0
#EDGE_LIST
adj = sparse.load_npz(f"networks/adj_matrix_type_{str(t)}_run_{str(r)}.npz")
edge_list = np.column_stack((adj.row,adj.col,adj.data))
el_dataframe = pd.DataFrame(edge_list,columns = ['Source','Target','sign'])


#NODE_LIST
df_nodes = pd.read_csv(f"networks/nodelist_{str(t)}_run_{str(r)}.csv")

In [54]:
el_dataframe.to_csv(f'gephi_plots/matrix_type_{str(t)}_run_{str(r)}.csv', index=False)

In [55]:
df_nodes.rename(columns={'node_id':'Id'},inplace=True)

In [56]:
df_nodes.head()

     Id  group
0   405      0
1  1190      0
2  1132      0
3   731      0
4  1754      0

In [57]:
df_nodes.to_csv(f"gephi_plots/nodelist_{str(t)}_run_{str(r)}.csv",index=False)

In [65]:
df_u

       Unnamed: 0  index    userid
0               0      0       4.0
1               1      1      30.0
2               2      2      38.0
3               3      3      66.0
4               4      4     148.0
...           ...    ...       ...
14093       14093  14093  690645.0
14094       14094  14094  698199.0
14095       14095  14095  714860.0
14096       14096  14096  726276.0
14097       14097  14097  733545.0

[14098 rows x 3 columns]

In [66]:
df_u = pd.DataFrame(df_u['userid'])

In [67]:
df_u.head()

   userid
0     4.0
1    30.0
2    38.0
3    66.0
4   148.0

In [68]:
df_u['Id']=df_u.index
df_u.to_csv('../data_clean/nodes_track.csv', index=False)

In [69]:
df_u.head()

   userid  Id
0     4.0   0
1    30.0   1
2    38.0   2
3    66.0   3
4   148.0   4

In [85]:
len(np.unique(df_n.Source.values))

3720

In [86]:
len(np.unique(df_n.Target.values))

3684

In [88]:
df_n.shape

(96032, 3)